/************** reset **************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}
.forside_sektion1 {
  margin-top: 100px;
}
/************** Fonte og tekster **************/
@font-face {
  font-family: minFont;
  src: url("Work_Sans/WorkSans-VariableFont_wght.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/************** generel opsætning **************/
body {
  background-color: #1e1e1e;
  overflow-x: hidden;
}
footer {
  margin-top: auto;
}
.forside_sektion1 {
  margin-top: 100px;
}
/************** tekster **************/
h5 {
  font-family: minFont;
  font-size: 1rem;
  color: #1e1e1e;
  text-align: left;
  font-weight: 600;
}
h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: rgba(240, 240, 238, 0.5);
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: fixed;
  height: 100%;
  top: 10%;
}
h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #f0f0ee;
  text-align: left;
}
p {
  font-family: minFont;
  font-size: 0.8rem;
  color: #f0f0ee;
  text-align: left;
  max-width: 65ch;
  margin-top: 15px;
  line-height: 1.5rem;
}
footer p {
  font-family: minFont;
  font-size: 0.8rem;
  color: #1e1e1e;
  text-align: left;
  max-width: 65ch;
  margin-top: 0;
  line-height: 1.5rem;
}
footer a {
  font-family: minFont;
  font-size: 0.8rem;
  color: #1e1e1e;
  text-align: left;
  max-width: 65ch;
  margin-top: 0;
  line-height: 1.5rem;
  text-decoration: underline;
  list-style: none;
}
/************** menu **************/
header {
  background-color: #1e1e1e;
  border-bottom: 0.5px solid rgba(240, 240, 238, 0.5);
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  z-index: 2;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
.logo img {
  display: flex;
}
a img {
  width: 40px;
  height: auto;
}
header a {
  font-family: minFont;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  color: #f0f0ee;
}
.current_page {
  opacity: 50%;
}
.logo img {
  max-width: 60px;
  display: flex;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  position: relative;
}
.menu_ikoner {
  display: flex;
  align-items: center;
  gap: 40px;
}
header nav .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}
.navbar a:hover {
  color: #f0f0ee80;
}

/************* dropdown menu (har taget udgangspunkt i eksempel fra w3schools.com)**********/
.navbar {
  overflow: hidden;
}
/* Skjul dropdown */
.dropdown-content {
  display: none;
}
/* Vis dropdown menu på hover */
.dropdown:hover .dropdown-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  position: absolute;
  margin: auto;
  width: 100%;
  z-index: 1;
  left: 50%; /*centrer */
  transform: translateX(-50%); /*centrer */
  border-bottom: 0.5px solid rgba(240, 240, 238, 0.5);
  background-color: #1e1e1e;
}
/* styling af links i dropdown */
.dropdown:hover .dropdown-content a {
  color: #f0f0ee;
  text-decoration: none;
  font-size: 0.7rem;
}
/* skift farve på links ved hover */
.dropdown:hover .dropdown-content a:hover {
  color: rgba(240, 240, 238, 0.5);
}
/*placér logo foran dropdown menu*/
.logo {
  position: relative;
  z-index: 3;
}

/************** burger (har taget udgangspunkt i eksempel fra w3schools.com) **************/

/* Design og positionering */
.burger {
  display: inline-block;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 40px;
  height: 1px;
  background-color: #f0f0ee;
  margin: 6px 0;
  transition: 0.4s;
}

/* Roter første linje */
.change .line1 {
  transform: translate(0, 4px) rotate(-25deg);
}

/* Fjern anden linje */
.change .line2 {
  opacity: 0;
}

/* Roter tredje linje */
.change .line3 {
  transform: translate(0, -10px) rotate(25deg);
}
.burger {
  display: none;
}
/************** toggle light/dark (har taget udgangspunkt i eksempel fra w3schools.com) **************/

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #f0f0ee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/************** Forside knapper **************/

.knapper_forside {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.knap_forside {
  padding: 10px 60px;
  border: 0.5px solid rgba(240, 240, 238, 0.5);
  border-radius: 60px;
  background-color: #191919;
  color: #f0f0ee;
  text-decoration: none;
  font-family: minFont;
  font-size: 0.9rem;
  box-shadow: 0 4px black;
}
.knap_forside:hover {
  box-shadow: 0 0px black;
  transform: translateY(1px);
  background-color: #1e1e1e;
  color: #f0f0ee80;
  border: 0.5px solid rgba(240, 240, 238, 0.5);
}
.portfolio_knap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
/************** Footer **************/
footer {
  background-color: #f0f0ee;
  min-height: 300px;
}
#flex_footer {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 2%;
  align-items: flex-start;
}
.footer_linje1 {
  height: 1px;
  margin-bottom: 5px;
  background-color: #f0f0ee;
  border: #f0f0ee;
}
/* Tre linjer (står i main i html) */
.footer_linje2 {
  height: 3px;
  margin-bottom: 7.5px;
  background-color: #f0f0ee;
  border: #f0f0ee;
}
.footer_linje3 {
  height: 5px;
  margin-bottom: 10px;
  background-color: #f0f0ee;
  border: #f0f0ee;
}
.footer_logo {
  display: flex;
  width: 150px;
  height: auto;
}

.hero img {
  width: 400px;
  height: auto;
  margin: 40px auto;
}

/************** Horizontal og vertikal linje **************/

.linje {
  border: 0.5px solid rgba(240, 240, 238, 0.5);
  border-bottom: none;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.vertikal_linje {
  border: 0.5px solid rgba(240, 240, 238, 0.5);
  border-bottom: none;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  rotate: 90deg;
  position: relative;
  left: -45%;
}
@media (max-width: 800px) {
  .hide {
    display: none;
  }
  .hide #navbar {
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1e1e1e; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  .hide header #navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #f0f0ee;
    display: block;
    transition: 0.3s;
    font-family: minFont;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    position: relative;
  }
  .menu_ikoner {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .hide header nav .navbar {
    display: block;
    text-align: center;
    list-style: none;
    margin: auto;
  }
  /************** burger (har taget udgangspunkt i eksempel fra w3schools.com) **************/

  /* Design og positionering */
  .burger {
    display: inline-block;
    cursor: pointer;
    z-index: 6;
  }

  .line1,
  .line2,
  .line3 {
    width: 40px;
    height: 1px;
    background-color: #f0f0ee;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Roter første linje */
  .change .line1 {
    transform: translate(0, 4px) rotate(-25deg);
  }

  /* Fjern anden linje */
  .change .line2 {
    opacity: 0;
  }

  /* Roter tredje linje */
  .change .line3 {
    transform: translate(0, -10px) rotate(25deg);
  }
}
