/************** Portfolio grid **************/
#portfolio_grid {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 80px auto;
  grid-row: auto;
  gap: 10px;
  min-height: 700px;
}
/************** Tekster **************/
h1 {
  font-family: minFont;
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: uppercase;
  color: rgba(240, 240, 238, 0.5);
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding-top: 20%;
  padding-bottom: 2%;
  text-align: center;
}

/************** Portfolio grid tabs **************/
.portfolio_tabs_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-top: 2%;
  gap: 2%;
  padding-bottom: 2%;
  grid-column: 2;
}
.portfolio_tabs {
  padding: 10px 60px;
  border: 0.5px solid rgba(240, 240, 238, 0.5);
  border-radius: 60px;
  background-color: #191919;
}
.portfolio_tabs p {
  color: #f0f0ee;
  text-decoration: none;
  font-family: minFont;
  font-size: 0.9rem;
  text-align: center;
}
.knap_forside:hover {
  box-shadow: 0 0px black;
  transform: translateY(1px);
  background-color: #1e1e1e;
  color: #f0f0ee80;
  border: 0.5px solid rgba(240, 240, 238, 0.5);
}
.portfolio_knap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/************** Grundlæggende indhold **************/

/* layout */
.portfolio_grid_ny {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 70px auto;
  gap: 10px;
}
.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px;
}
.grid_1_1_2 {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 10px;
  margin-bottom: 5%;
}
.vs_tekst {
  padding-top: 7%;
  padding-left: 30px;
  text-align: center;
  margin: auto;
}
.vs_tekst_2 {
  padding-right: 30px;
  grid-column: 2;
  text-align: center;
}
@media (max-width: 1000px) {
  .portfolio_grid_ny {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 20px auto;
    gap: 5px;
  }
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-right: 10px;
  }
  .grid_1_1_2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-left: 52px;
  }
  .vs_tekst_2 {
    padding-right: 10px;
    grid-column: 1;
    text-align: center;
  }
  .vs_tekst {
    padding-top: 10%;
    padding-left: 30px;
    text-align: center;
    margin: auto;
  }
}
/* billeder og video videosite*/
#videosite_background {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#vs_b2_container {
  width: 30%;
  aspect-ratio: 448/719;
  position: absolute;
  top: 17%;
  left: 66%;
}
#vs_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/videosite/videosite-1.webp);
}
#vs_b1_container {
  width: 50%;
  aspect-ratio: 502/301;
  position: absolute;
  top: 8%;
  left: 18%;
}
#vs_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/videosite/videosite_2.webp);
}
.vs_video {
  border: none;
  position: absolute;
  top: 60%;
  left: 5%;
  aspect-ratio: 560/315;
  width: 55%;
}
.vs_waves {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 102%;
  left: -1%;
  position: relative;
}
/* billeder og video virksomhedssite*/
#virksomhedssite_background {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#virk_b1_container {
  width: 25%;
  aspect-ratio: 960/1432;
  position: absolute;
  top: 17%;
  left: 68%;
}
#virk_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/05.02.01.webp);
}
#virk_b2_container {
  width: 47%;
  aspect-ratio: 1499/697;
  position: absolute;
  top: 40%;
  left: 10%;
}
#virk_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/05.02.01_1.webp);
}
#virk_b3_container {
  width: 40%;
  aspect-ratio: 2880/1618;
  position: absolute;
  top: 70%;
  left: 45%;
}
#virk_b3_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/05.02.01_2.webp);
}
#virk_b4_container {
  width: 56%;
  aspect-ratio: 1434/809;
  position: absolute;
  top: 2%;
  left: 8%;
}
#virk_b4_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/virks_1.webp);
}
/* knap */

.vs_knap {
  margin-top: 60px;
}

/************** Grundlæggende web **************/
#web_background {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 150%;
}
#web_b2_container {
  width: 55%;
  aspect-ratio: 1243/682;
  position: absolute;
  top: 4%;
  left: 43%;
}
#web_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/web/web._1webp.webp);
}
#web_b1_container {
  width: 46%;
  aspect-ratio: 1243/682;
  position: absolute;
  top: 41%;
  left: 38%;
}
#web_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/web/web_2.webp);
}
#web_b3_container {
  width: 30%;
  aspect-ratio: 569/719;
  position: absolute;
  top: 18%;
  left: 5%;
}
#web_b3_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/web/web_3.webp);
}

/************** UX/UI **************/

/* Billeder præsentation */

.ux_space {
  padding-bottom: 30%;
}
@media (max-width: 1000px) {
  .ux_space {
    display: none;
  }
}
#ux_p_background {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}
#ux_p_b1_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 3%;
  left: 10%;
}
#ux_p_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_1.webp);
}
#ux_p_b2_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 8%;
  left: 50%;
}
#ux_p_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_2.webp);
}
#ux_p_b4_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 28%;
  left: 10%;
}
#ux_p_b4_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_3.webp);
}
#ux_p_b5_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 33%;
  left: 50%;
}
#ux_p_b5_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_5.webp);
}
#ux_p_b6_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 53%;
  left: 10%;
}
#ux_p_b6_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_6.webp);
}
#ux_p_b7_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 58%;
  left: 50%;
}
#ux_p_b7_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_7.webp);
}
#ux_p_b8_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 78%;
  left: 10%;
}
#ux_p_b8_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_last.webp);
}

/* Billeder procesdokumentation */

#ux_d_background {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}
#ux_d_b1_container {
  width: 45%;
  aspect-ratio: 1194/972;
  position: absolute;
  top: 2%;
  left: 10%;
}
#ux_d_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/03.04.01.1.webp);
}
#ux_d_b2_container {
  width: 45%;
  aspect-ratio: 2880/1626;
  position: absolute;
  top: 62%;
  left: 50%;
}
#ux_d_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/03.04.02.webp);
}
#ux_d_b3_container {
  width: 25%;
  aspect-ratio: 902/1442;
  position: absolute;
  top: 12%;
  left: 60%;
}
#ux_d_b3_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/03.04.02_2.webp);
}
#ux_d_b4_container {
  width: 45%;
  aspect-ratio: 1509/900;
  position: absolute;
  top: 70%;
  left: 10%;
}
#ux_d_b4_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/dokumentation.webp);
}
/************** Animation **************/
#animation_background {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#animation_b1_container {
  width: 50%;
  aspect-ratio: 2880/1800;
  position: absolute;
  top: 4%;
  left: 15%;
}
#animation_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/04.04.01_1.webp);
}
#animation_b2_container {
  width: 20%;
  aspect-ratio: 598/690;
  position: absolute;
  top: 20%;
  left: 70%;
}
#animation_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/04.04.01_2.webp);
}
#animation_b3_container {
  width: 40%;
  aspect-ratio: 1600/902;
  position: absolute;
  top: 40%;
  left: 40%;
}
#animation_b3_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/animation_1.webp);
}
#animation_b4_container {
  width: 44%;
  aspect-ratio: 1606/901;
  position: absolute;
  top: 70%;
  left: 47%;
}
#animation_b4_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/animation_2.webp);
}
#animation_b5_container {
  width: 30%;
  aspect-ratio: 974/648;
  position: absolute;
  top: 50%;
  left: 7%;
}
#animation_b5_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/animation_3.webp);
}
