/**************** Layout portfolio sider ****************/
.portfolio_grid_ny {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 70px auto;
  gap: 10px;
}
.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px;
}
.grid_1_1_2 {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 10px;
  margin-bottom: 5%;
}
.vs_tekst {
  padding-top: 7%;
  padding-left: 30px;
  text-align: center;
  margin: auto;
}
.vs_tekst_2 {
  padding-top: 7%;
  padding-right: 100px;
  grid-column: 2;
  text-align: center;
}
.vs_waves {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 102%;
  left: -1%;
  position: relative;
}
@media (max-width: 1000px) {
  .portfolio_grid_ny {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 20px auto;
    gap: 5px;
  }
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding-right: 10px;
  }
  .grid_1_1_2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding-left: 52px;
  }
  .vs_tekst_2 {
    padding-right: 10px;
    grid-column: 1;
    text-align: center;
  }
  .vs_tekst {
    padding-top: 10%;
    padding-left: 30px;
    text-align: center;
    margin: auto;
  }
  .vs_knap {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .vs_waves {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

/************** Grundlæggende indhold **************/

/* billeder og video videosite*/
#videosite_background {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  grid-row: 2;
}
#vs_b2_container {
  width: 30%;
  aspect-ratio: 448/719;
  position: absolute;
  top: 17%;
  left: 66%;
}
#vs_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/videosite/videosite-1.webp);
}
#vs_b1_container {
  width: 50%;
  aspect-ratio: 502/301;
  position: absolute;
  top: 8%;
  left: 18%;
}
#vs_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/videosite/videosite_2.webp);
}
.vs_video {
  border: none;
  position: absolute;
  top: 60%;
  left: 5%;
  aspect-ratio: 560/315;
  width: 55%;
}

/* billeder og video virksomhedssite*/

#virksomhedssite_background {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#virk_b1_container {
  width: 25%;
  aspect-ratio: 960/1432;
  position: absolute;
  top: 17%;
  left: 68%;
}
#virk_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/05.02.01.webp);
}
#virk_b2_container {
  width: 47%;
  aspect-ratio: 1499/697;
  position: absolute;
  top: 40%;
  left: 10%;
}
#virk_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/05.02.01_1.webp);
}
#virk_b3_container {
  width: 40%;
  aspect-ratio: 2880/1618;
  position: absolute;
  top: 70%;
  left: 45%;
}
#virk_b3_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/05.02.01_2.webp);
}
#virk_b4_container {
  width: 56%;
  aspect-ratio: 1434/809;
  position: absolute;
  top: 2%;
  left: 8%;
}
#virk_b4_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/virks_1.webp);
}
/* knap */

.vs_knap {
  margin-top: 60px;
}
@media (max-width: 1000px) {
  #vs_b1_container {
    width: 70%;
  }
  #vs_b2_container {
    width: 40%;
    top: 37%;
    left: 49%;
  }
  .vs_video {
    border: none;
    position: absolute;
    top: 69%;
    left: 5%;
    width: 75%;
  }
  #virk_b1_container {
    width: 50%;
    top: 10%;
    left: 8%;
  }
  #virk_b2_container {
    width: 70%;
    top: 37%;
    left: 18%;
  }
  #virk_b3_container {
    width: 70%;
    top: 76%;
    left: 15%;
  }
  #virk_b4_container {
    width: 56%;
    top: 58%;
    left: 8%;
  }
}
/************** Grundlæggende web **************/
#web_background {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
  grid-row: 2;
}
#web_b2_container {
  width: 70%;
  aspect-ratio: 1243/682;
  position: absolute;
  top: 63%;
  left: 15%;
}
#web_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/web/web._1webp.webp);
}
#web_b1_container {
  width: 64%;
  aspect-ratio: 1243/682;
  position: absolute;
  top: 33%;
  left: 30%;
}
#web_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/web/web_2.webp);
}
#web_b3_container {
  width: 45%;
  aspect-ratio: 569/719;
  position: absolute;
  top: 1%;
  left: 5%;
}
#web_b3_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/web/web_3.webp);
}

@media (min-width: 1000px) {
  /* billeder */
  #web_b2_container {
    width: 55%;
    top: 4%;
    left: 43%;
  }
  #web_b1_container {
    width: 46%;
    top: 41%;
    left: 38%;
  }
  #web_b3_container {
    width: 30%;
    top: 18%;
    left: 5%;
  }
}

/************** UX/UI **************/

/* Billeder præsentation */
#ux_p_background {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
  grid-row: 2;
}
#ux_p_b1_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 3%;
  left: 10%;
}
#ux_p_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_1.webp);
}
#ux_p_b2_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 8%;
  left: 50%;
}
#ux_p_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_2.webp);
}
#ux_p_b4_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 28%;
  left: 10%;
}
#ux_p_b4_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_3.webp);
}
#ux_p_b5_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 33%;
  left: 50%;
}
#ux_p_b5_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_5.webp);
}
#ux_p_b6_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 53%;
  left: 10%;
}
#ux_p_b6_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_6.webp);
}
#ux_p_b7_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 58%;
  left: 50%;
}
#ux_p_b7_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_7.webp);
}
#ux_p_b8_container {
  width: 45%;
  aspect-ratio: 1600/900;
  position: absolute;
  top: 78%;
  left: 10%;
}
#ux_p_b8_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/presentation/p_last.webp);
}

/* Billeder procesdokumentation */

#ux_d_background {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
  grid-row: 2;
}
#ux_d_background {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}
#ux_d_b1_container {
  width: 80%;
  aspect-ratio: 1194/972;
  position: absolute;
  top: 2%;
  left: 10%;
}
#ux_d_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/03.04.01.1.webp);
}
#ux_d_b2_container {
  width: 65%;
  aspect-ratio: 2880/1626;
  position: absolute;
  top: 30%;
  left: 2%;
}
#ux_d_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/03.04.02.webp);
}
#ux_d_b3_container {
  width: 35%;
  aspect-ratio: 902/1442;
  position: absolute;
  top: 52%;
  left: 60%;
}
#ux_d_b3_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/03.04.02_2.webp);
}
#ux_d_b4_container {
  width: 65%;
  aspect-ratio: 1509/900;
  position: absolute;
  top: 67%;
  left: 10%;
}
#ux_d_b4_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/ux:ui/dokumentation.webp);
}
@media (max-width: 1000px) {
  .ux_space {
    display: none;
  }
  .dokumentation_tekst {
    grid-row: 1;
  }
}
@media (min-width: 1000px) {
  .ux_space {
    padding-bottom: 30%;
  }
  #ux_p_background {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  /* Billeder procesdokumentation */

  #ux_d_b1_container {
    width: 45%;
    aspect-ratio: 1194/972;
    position: absolute;
    top: 2%;
    left: 10%;
  }
  #ux_d_b2_container {
    width: 45%;
    aspect-ratio: 2880/1626;
    position: absolute;
    top: 62%;
    left: 50%;
  }
  #ux_d_b3_container {
    width: 25%;
    aspect-ratio: 902/1442;
    position: absolute;
    top: 12%;
    left: 60%;
  }
  #ux_d_b4_container {
    width: 45%;
    aspect-ratio: 1509/900;
    position: absolute;
    top: 70%;
    left: 10%;
  }
}
/************** Animation **************/
#animation_background {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  grid-row: 2;
}
#animation_b1_container {
  width: 50%;
  aspect-ratio: 2880/1800;
  position: absolute;
  top: 4%;
  left: 15%;
}
#animation_b1_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/04.04.01_1.webp);
}
#animation_b2_container {
  width: 20%;
  aspect-ratio: 598/690;
  position: absolute;
  top: 20%;
  left: 70%;
}
#animation_b2_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/forside/04.04.01_2.webp);
}
#animation_b3_container {
  width: 40%;
  aspect-ratio: 1600/902;
  position: absolute;
  top: 40%;
  left: 40%;
}
#animation_b3_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/animation_1.webp);
}
#animation_b4_container {
  width: 44%;
  aspect-ratio: 1606/901;
  position: absolute;
  top: 70%;
  left: 47%;
}
#animation_b4_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/animation_2.webp);
}
#animation_b5_container {
  width: 30%;
  aspect-ratio: 974/648;
  position: absolute;
  top: 50%;
  left: 7%;
}
#animation_b5_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/animation_3.webp);
}
@media (max-width: 1000px) {
  #animation_b1_container {
    width: 70%;
  }
  #animation_b2_container {
    width: 40%;
    top: 30%;
    left: 10%;
  }
  #animation_b3_container {
    width: 60%;
    top: 50%;
  }
  #animation_b4_container {
    width: 64%;
    aspect-ratio: 1606/901;
    position: absolute;
    top: 85%;
    left: 17%;
  }
  #animation_b5_container {
    width: 40%;
    top: 70%;
    left: 7%;
  }
}
/************** Om mig **************/

.om_mig_topspace {
  min-height: 70px;
}

/* Billeder om mig */

#portrait_background {
  width: 100%;
  height: 150%;
  position: relative;
  overflow: hidden;
}
#portrait_container {
  width: 40%;
  position: absolute;
  aspect-ratio: 1200/1200;
  top: 47%;
  left: 47%;
}
#portrait_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/portroet.webp);
}
#portrait_container_2 {
  width: 35%;
  position: absolute;
  aspect-ratio: 801/1202;
  top: 6%;
  left: 8%;
}
#portrait_sprite_2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/portrot_lang.webp);
}

/*cv billeder*/

#cv_background {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#cv_container_1 {
  width: 44%;
  position: absolute;
  aspect-ratio: 1364/801;
  top: 23%;
  left: 53%;
}
#cv_sprite_1 {
  width: 103%;
  height: 105%;
  background-size: cover;
  background-image: url(imgs/cv_1.webp);
}
#cv_container_2 {
  width: 40%;
  position: absolute;
  aspect-ratio: 792/792;
  top: 4%;
  left: 7%;
}
#cv_sprite_2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(imgs/cv_2.webp);
}
#cv_container_3 {
  width: 27%;
  position: absolute;
  aspect-ratio: 791/793;
  top: 64%;
  left: 28%;
}
#cv_sprite_3 {
  width: 105%;
  height: 107%;
  background-size: cover;
  background-image: url(imgs/cv_3.webp);
}

/* layout */

.grid_om_mig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 5%;
  grid-column: 2;
  grid-row: 1;
}
.om_mig_tekst {
  padding-top: 7%;
  margin-right: 2px;
  grid-column: 2;
}
#linje_about {
  margin-top: 120px;
}
#om_os_grid2 {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px;
}
.portfolio_grid_ny_2 {
  display: grid;
  grid-template-columns: 70px auto;
  gap: 10px;
}
.titel_gap {
  margin-top: 50px;
}

@media (max-width: 1000px) {
  .grid_om_mig {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .om_mig_tekst {
    padding-top: 10%;
    padding-left: 30px;
    text-align: center;
    margin: auto;
  }
  #linje_about {
    margin-top: 20px;
  }
  #om_os_grid2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .portfolio_grid_ny_2 {
    grid-template-columns: 20px auto;
    gap: 5px;
  }
  #cv_container_3 {
    width: 27%;
    top: 4%;
    left: 18%;
  }
  #cv_container_2 {
    width: 60%;
    top: 50%;
    left: 7%;
  }
  #cv_background {
    grid-row: 1;
  }
}
